# Secret environment files
.env
*/.env

# Python backend specific
backend/venv/
backend/__pycache__/

# SvelteKit frontend specific
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/

# General Python files
*.pyc